*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


a{
    text-decoration: none !important;
}



ul,li{
    list-style: none;
}


.round_image{
    border-radius: 50%;
    height: 50px;
    width: 50px;
}


#search_results{
    margin:0 600px; 
    position:relative;
    left:114px;
}


.header_img{
    width: 3%;
    height: 20%;
    border-radius: 50%;
}


/*chat*/
/* Chat */
.chat-wrapper {
    position: fixed;
    z-index: 5;
    bottom: 0;
    right: 20px;
    width: 290px;
    height: 350px;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    transition: all .4s ease-in-out;
    opacity: 0;
    transform: translateY(100%)
  }
  
  .chat--visible {
    opacity: 1;
    transform: translateY(0)
  }
  
  .chat-title-bar {
    background-color: #292929;
    color: #FFF;
    padding: 4px 7px;
    display: flex;
    justify-content: space-between;
  }
  
  .chat-title-bar-close {
    opacity: .7;
    cursor: pointer;
  }
  
  .chat-title-bar-close:hover {
    opacity: 1;
  }
  
  .chat-log {
    padding: 8px;
    flex: 1;
    overflow: auto;
  }
  
  .chat-self,
  .chat-other {
    font-size: .75rem;
    display: flex;
    align-items: center;
    margin-bottom: 7px;
  }
  
  .chat-self {
    padding-left: 25%;
  }
  
  .chat-self .chat-avatar {
    margin-left: 6px;
  }
  
  .chat-self .chat-message {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }
  
  .chat-self .chat-message-inner {
    text-align: right;
    padding: 4px 7px;
    border-radius: 12px;
    background-color: #007bff;
    color: #FFF;
  }
  
  .chat-other {
    /* padding-right: 25%; */
  }
  
  .chat-other .chat-avatar {
    margin-right: 6px;
  }
  
  .chat-other .chat-message {
    flex: 1;
    display: flex;
    justify-content: flex-start;
  }
  
  .chat-other .chat-message-inner {
    padding: 4px 7px;
    border-radius: 12px;
    background-color: #f1f0f0;
  }
  
  .chat-message a {
    color: #212529
  }
  
  .chat-field {
    width: 90%;
    box-sizing: border-box;
    padding: 10px 7px; 
    border: none;
    outline: none;
    /* font-size: .75rem; */
  }
 
  
  .chat-with-other{
    position: relative;
    left: 106px;
  }

.avatar-tiny{
    width: 14%;
    height: 50%;
    border-radius: 50%;
}
.chat-image{
  position: relative;
    right: 111px;
}

@media screen and (max-width:575px) {

    
    .small_img{
        width: 356px !important;
    }
    
}



@media screen and (max-width:875px){
        /* margin: 0 600px; */
        #search_results{
        position: relative;
        left: 114px;
        margin: 0;
        }
} 

@media screen and (max-width:575px) {
    
    .img-responsivew{
        width: 310px  !important;
    }
    

    .small_img2{
        width: 326px !important;
    }
    
}




